<div class="container">

  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
      &copy; 2013 StanceTrader, Inc. &middot;
      <%= link_to 'Privacy', privacy_path %> &middot;
      <%= link_to 'Terms of Use', terms_path %>
    </p>
  </footer>

</div>