<h1>Holler @ us here</h1>

<h2> Contact</h2> 

<h3>
		<tr>email: admin@stancetrader.com</tr><br>
		<tr>twitter: @stancetrader</tr><br>
		<tr>fb: fb.com/stancetrader</tr><br>
</h3><br>

<b><%= link_to 'Homepage', root_path %></b>