<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c99.1.621.621/s160x160/181396_10152824319480284_1912078816_n.jpg">
      <h2>Buy.</h2>
      <p>Step your car game up by buying baller car parts for the car show, race season, drifting, and the streets.</p>
      <p><%= link_to 'Post & List Now &raquo;'.html_safe, posts_path, class: "btn btn-default"%></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Lot007.jpg/240px-Lot007.jpg">
      <h2>Sell.</h2>
      <p>Looking to sell your car parts from racing, car shows, or drifting? This is the place to be.</p>
      <p><%= link_to 'Post & List Now &raquo;' .html_safe, posts_path, class: "btn btn-default" %></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Limited_Edition.jpg/220px-Limited_Edition.jpg">
      <h2>Discover.</h2>
      <p>Just rolling by? We curate car parts that you may be interested in. The place to be for hot-rodders.</p>
      <p><%= link_to 'Post & List Now &raquo;' .html_safe, posts_path, class: 'btn btn-default' %></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/p480x480/1148973_545506238830495_244804096_n.jpg">
    <h2 class="featurette-heading">Because you want to search for car parts seamlessly. <span class="text-muted">It'll blow your mind.</span></h2>
    <p class="lead">Discover car parts that you're looking for from local enthusiasts.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/217616_460280767353043_1127587875_n.jpg">
    <h2 class="featurette-heading">Enthusiast marketplace. <span class="text-muted">See for yourself.</span></h2>
    <p class="lead">We're more than a marketplace. Connect with fellow enthusiasts who share the same passion.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" img src="http://aussieexotics.com/forum/dlattach/attach,15874/image/Top-Gear-(UK)/Darth-Vader-Ariel-Atom-1821.0.html.jpg">
    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">BAM!</span></h2>
    <p class="lead">Sign up or else Darth Vader will roll up in his Ariel Atom and find you.</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->
